<h1>New user</h1>

<% if session[:user_id] %>

<%= link_to ' Please sign out to create a new user.', logout_path %>

<% elsif session[:admin_id] %>

<%= link_to ' Please sign out to create a new user.', logout_path %>

<% else %>

<%= render 'form' %>

<%= link_to ' Sign in as an existing user instead.', users_path %>

<% end %>